@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
    --color1-color: #026d77;
    --color2-color: #28b6ae;
    --color3-color: #74cfc2;
    --color4-color: #a4dfdb;
    --color5-color: #fbf5c9;
    --white-color: #f8fafc;
    --black-color: black;
    --font-color: #1f2c3e;
    --font-font: "Titillium Web", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-font);
}

.title {
    font-family: var(--font-font);
    font-size: 50px;
    font-weight: 700;
    font-style: normal
}

.bold {
    font-family: var(--font-font);
    font-size: 50px;
    font-weight: 900;
    font-style: normal
}

.italic {
    font-family: var(--font-font);
    font-weight: 400;
    font-style: italic;
}

/*header*/
header {
    width: 100%;
    height: fit-content;
}

/*navigation*/
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1-color);
    position: fixed;
    z-index: 1;
}

nav .nav_logo {
    width: 100px;
    height: 50px;
    margin: .5rem 0;
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.translate-dropdown {
    position: relative;
    display: inline-block;
    margin: .5rem 1rem;
    font-size: 20px;
    font-family: var(--font-font);
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
}

.translate-box {
    width: fit-content;
    display: none;
    position: absolute;
    top: 100%;
    right: 1px;
    background-color: white;
    z-index: 100;
    border-radius: 6px;
}

.translate-dropdown:hover .translate-box {
    display: block;
}

.goog-te-combo {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

nav .nav-links-mobile {
    display: none;
}

nav .nav-links-mobile .burger_icon img {
    width: 50px;
    height: 40px;
}

nav ul li a {
    margin: .5rem 1rem;
    font-size: 20px;
    font-family: var(--font-font);
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
}

/* Dropdown Menu */
div.nav-links-dropdown {
    display: none;
    width: calc(100% - 4rem);
    height: fit-content;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 2rem;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    text-align: center;
    background-color: var(--color1-color);
    font-size: 20px;
    font-family: var(--font-font);
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
    border: none;
}

li.burger_icon {
    list-style: none;
}


div.nav-links-dropdown a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--white-color);
    border-bottom: 1px solid #eee;
}




/*main*/
main {
    width: 100%;
    height: auto;
    text-align: justify;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding-top: 60px;
}

/*landing page*/
section.landing-page {
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1)90%),
        url(assets/image/ypi.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

section.landing-page h1 {
    font-size: 80px;
    font-family: var(--font-font);
    color: var(--white-color);
    text-align: center;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 1);

}

/*about section*/
section.about {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.about .about-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.about .about-content-img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.about .about-content-img img {
    width: 85%;
    height: 60%;
    display: block;
    margin: 0 auto;
}

/* section.video-visi-misi {
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    line-height: 2rem;
    text-align: justify;
} */

/*our program section*/
::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

section.our-program {
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

section.our-program dialog.program-dialog {
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 4rem;
    border: none;
    background-color: var(--white-color);
    border-radius: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

section.our-program p {
    line-height: 2rem;
}

section.our-program dialog.program-dialog div.program-name {
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    margin-bottom: 16px;
}

section.our-program div.program-list {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

section.our-program div.program-content img.program-image {
    width: 100%;
    display: block;
    margin: 16px auto;
    border-radius: 20px;
}

section.our-program div.program-content img.program-image {
    width: fit-content;
    height: 300px;
    display: block;
    margin: 16px auto;
    border-radius: 20px;
    object-fit: contain;
}

section.our-program div.program-content p.program-description {
    text-align: justify;
    margin: 0 16px;
}

section.our-program div.program {
    width: 250px;
    height: 300px;
    padding: .5rem;
    border-radius: 20px;
    white-space: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

section.our-program div.program-perlindungan {
    background-image: url(assets/image/perlindungan-penyu-dan-habitatnya-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

section.our-program div.program-penelitian {
    background-image: url(assets/image/monitoring-dan-penelitian.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

section.our-program div.program-pemberdayaan {
    background-image: url(assets/image/pemberdayaan-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

section.our-program div.program-edukasi {
    background-image: url(assets/image/edukasi-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

section.our-program div.program h1 {
    font-size: 20px;
    color: var(--color5-color);
}

section.our-program div.program p {
    font-size: 15px;
    font-style: italic;
    color: var(--white-color);
}

/*program location section*/
section.program-location {
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background-color: var(--color4-color);
}

section.program-location div.program-location-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.program-location div.program-location-img {
    width: 60%;
    height: 100%;
}

section.program-location img {
    width: 100%;
    height: 100%;
}

section.program-location .program-location-button-list {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.program-location .program-location-button-list .location-button {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

section.program-location .program-location-button-list .location-button button {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 18px;
    font-weight: bold;
    color: var(--black-color);
}

section.program-location .program-location-button-list .location-button button:hover {
    background-color: var(--font-color);
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

section.program-location .program-location-button-list .location-button button:clicked {
    background-color: var(--font-color);
    color: var(--white-color);
}

section.program-location .program-location-button-list .location-list {
    width: 100%;
    height: 50%;
}

section.program-location .program-location-button-list .location-list table {
    width: 100%;
    height: fit-content;
    border: none;
    border-collapse: collapse;
    font-size: 20px;
}

section.program-location .program-location-button-list .location-list table th {
    text-align: left;
    height: 50px;
    color: var(--white-color);
}

section.program-location .program-location-button-list .location-list table th,
section.program-location .program-location-button-list .location-list table td {
    background-color: var(--white-color);
    border: none;
    padding: 10px;
}


/*donate page*/
section.donate-page {
    width: 100%;
    height: 100%;
}

section.donate-page-landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
}

section.donate-page-content {
    width: 50%;
    max-height: 100%;
    text-align: justify;
}

section.donate-page-landing img,
section.donate-page-form img {
    max-width: 50%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

section.donate-page-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
}

section.donate-page-form form.donate-form {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}

section.donate-page-form form.donate-form input,
section.donate-page-form form.donate-form textarea {
    width: 100%;
    height: 50px;
    field-sizing: content;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    font-size: 20px;
    font-family: var(--font-font);
    background-color: var(--color3-color);
    border: none;
}

::placeholder {
    color: #7b7979;
}

section.donate-page-form form.donate-form textarea {
    height: 100px;
}

section.donate-page-form form.donate-form button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    background-color: var(--color1-color);
    color: var(--white-color);
    border: none;
}

/*table*/
@media (max-width: 1024px) {
    .title {
        font-size: 2.5rem;
    }

    .bold {
        font-size: 30px;
    }

    section.about {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    nav ul.nav-links {
        display: none;
    }

    nav ul.nav-links-mobile {
        display: unset;
    }

    section.about .about-content {
        width: 100%;
    }

    section.our-program {
        height: auto;
        justify-content: center;
    }

    section.program-location {
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    /* 
    section.program-location div.program-location-content {
        height: fit-content;
    } */

    section.program-location div.program-location-content {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section.program-location .program-location-button-list {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*donation page*/

    section.donate-page-landing {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        gap: 2rem;
    }

    section.donate-page-form {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
    }
}


/*mobile*/
@media (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    section.landing-page h1 {
        font-size: 2rem;
    }

    section.about {
        height: 100vh;
    }

    section.about .about-content-img img {
        display: none;
    }

    section.our-program {
        height: 100vh;
    }

    section.program-location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.program-location .program-location-button-list .location-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.program-location img {
        width: 100%;
        height: 100%;
    }

    section.program-content img.program-image {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1024px),
(orientation: landscape) and (max-height: 500px) {

    section.donate-page-landing,
    section.donate-page-form {
        flex-direction: column=column-reverse;
        height: auto;
        padding: 1rem;
    }

    section.donate-page-content,
    section.donate-page-form form.donate-form {
        width: 100%;
    }

    section.donate-page-form form.donate-form input,
    section.donate-page-form form.donate-form textarea,
    section.donate-page-form form.donate-form button {
        font-size: 16px;
        padding: 0.8rem;
        height: auto;
    }

    section.donate-page-form form.donate-form textarea {
        height: 80px;
    }

    section.donate-page-form form.donate-form {
        gap: 0.8rem;
    }
}



/* @media (orientation: landscape) {
    section.about .about-content-img img {
        display: none;
    }

    section.about {
        height: auto;
    }

    section.our-program {
        height: auto;
    }

    section.program-location {
        height: auto;
        padding: 0 2rem;
    }

} */


/*animation*/
.scroll-fade {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInScroll 1.6s ease forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

@keyframes fadeInScroll {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}