@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
    --color1-color: #026d77;
    --color2-color: #28b6ae;
    --color3-color: #74cfc2;
    --color4-color: #a4dfdb;
    --color5-color: #fbf5c9;
    --white-color: #f8fafc;
    --black-color: black;
    --location-font-color: #1f2c3e;
    --font-font: "Titillium Web", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-font);
}

.title {
    font-family: var(--font-font);
    font-size: 50px;
    font-weight: 700;
    font-style: normal
}

.bold {
    font-family: var(--font-font);
    font-size: 50px;
    font-weight: 900;
    font-style: normal
}

.italic {
    font-family: var(--font-font);
    font-weight: 400;
    font-style: italic;
}

/*header*/
header {
    width: 100%;
    height: fit-content;
}

/*navigation*/
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1-color);
    position: fixed;
    z-index: 1;
}

nav .nav_logo {
    width: 100px;
    height: 60px;
    margin: .5rem 0;
    object-fit: contain;
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.translate-dropdown {
    position: relative;
    display: inline-block;
    margin: .5rem 1rem;
    font-size: 20px;
    font-family: var(--font-font);
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
}

.translate-box {
    width: fit-content;
    display: none;
    position: absolute;
    top: 100%;
    right: 1px;
    background-color: white;
    z-index: 100;
    border-radius: 6px;
}

.translate-dropdown:hover .translate-box {
    display: block;
}

.goog-te-combo {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

nav .nav-links-mobile {
    display: none;
}

nav .nav-links-mobile .burger_icon img {
    width: 50px;
    height: 40px;
}

nav ul li a {
    margin: .5rem 1rem;
    font-size: 20px;
    font-family: var(--font-font);
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
}

/* Dropdown Menu */
div.nav-links-dropdown {
    display: none;
    width: calc(100% - 4rem);
    height: fit-content;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 2rem;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    text-align: center;
    background-color: var(--color1-color);
    font-size: 20px;
    font-family: var(--font-font);
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
    border: none;
}

li.burger_icon {
    list-style: none;
}


div.nav-links-dropdown a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--white-color);
    border-bottom: 1px solid #eee;
}

/*main*/
main {
    width: 100%;
    height: auto;
    text-align: justify;
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding-top: 60px;
}

/*campaign page*/
section.campaignPage {
    width: 100%;
    height: auto;
    padding: 2rem 0 0 0;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(189, 232, 232, 1) 30%,
            rgba(92, 202, 195, 1) 60%,
            rgba(40, 182, 174, 1) 100%);
}

section.campaign-landing-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

section.campaign-landing-page .turtle-img {
    max-width: 900px;
    width: 80%;
    height: auto;
}

section.campaign-landing-page img.say_no_to_headstarting_img {
    width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

section.campaign-landing-page video {
    max-width: 800px;
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 40px;
}

section.campaign-landing-page p {
    font-weight: bold;
    color: var(--color1-color);
}

.campaign-description {
    width: 100%;
    max-width: 700px;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    padding: 0 20px;
}

/*gallery*/
.white {
    color: var(--white-color);
    font-weight: bold;
}

.yellow {
    color: #FBF5C9;
    font-weight: bold;
}

section.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: url('assets/image/wave-pattern.webp');
    background-position: center;
    background-size: cover;
}

.gallery-title {
    font-size: 2.5rem;
    color: var(--white-color);
    text-align: center;
    max-width: 800px;
    margin-bottom: 40px;
}

.gallery-image {
    max-width: 900px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*penyu fact*/
section.penyu-facts {
    width: 100%;
    height: 100vh;
    background: url(assets/image/facts-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

section.penyu-facts div.penyu-facts-title,
section.penyu-facts div.penyu-facts-point {
    width: 48%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

section.penyu-facts div.penyu-facts-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white-color);
}

section.penyu-facts div.penyu-facts-title span {
    display: block;
    font-weight: bold;
    font-style: italic;
}

section.penyu-facts div.penyu-facts-title p {
    width: 100%;
    font-weight: bold;
    text-align: right;
    color: var(--white-color);
}

section.penyu-facts div.penyu-facts-point {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

section.penyu-facts div.penyu-facts-point ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

section.penyu-facts div.penyu-facts-point ul li {
    text-align: center;
    font-size: 15px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

section.penyu-facts div.penyu-facts-point ul li img {
    max-width: 80px;
    max-height: 80px;
}

/*headstarting facts*/
section.headstarting-facts {
    width: 100%;
    height: 100vh;
    background: url('assets/image/anti_headstarting_background.webp');
    align-items: flex-start;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    padding-bottom: 0;
}

section.headstarting-facts div.content-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
}

section.headstarting-facts .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-wrap: wrap;
}

section.headstarting-facts .text-box {
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 8px;
}

section.headstarting-facts .text-wrapper {
    padding-left: 2rem;
}

section.headstarting-facts div.headstarting-facts-bottom {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

section.headstarting-facts div.headstarting-facts-bottom img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*anti headstarting page*/
section.anti-headstarting-page {
    width: 100%;
    min-height: 100vh;
    background-color: #E2B376;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}

section.anti-headstarting-page div.img-turtle {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.anti-headstarting-page div.img-turtle img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

section.anti-headstarting-page div.anti-headstarting-content {
    width: 40%;
    height: 100%;
    background: url(assets/image/anti_headstarting_content_background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.anti-headstarting-page div.anti-headstarting-content img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

section.anti-headstarting-page div.anti-headstarting-content ul {
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: square;
}

section.anti-headstarting-page div.anti-headstarting-content ul li {
    font-size: 18px;
    font-weight: bold;
    padding: 1rem 0
}

section.anti-headstarting-page div.anti-headstarting-content div.say-no-to-headstarting {
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

section.anti-headstarting-page div.anti-headstarting-content div.say-no-to-headstarting .say-no-to-headstarting-title {
    text-align: center;
    font-size: 25px;
    background-color: red;
    border-radius: 20px;
    padding: 1rem;
}

section.anti-headstarting-page div.anti-headstarting-content div.say-no-to-headstarting .say-no-to-headstarting-description {
    text-align: justify;
    font-size: 20px;
    padding: 1rem;
    background-color: var(--color1-color);
    border-radius: 20px;
}

/*about landing page*/
section.aboutPage {
    width: 100%;
    height: 100%;
}

section.about-landing-page {
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1)90%),
        url(assets/image/about_landing.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

section.about-landing-page h1 {
    font-size: 80px;
    font-family: var(--font-font);
    color: var(--white-color);
    text-align: center;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 1);
}

/*about section*/
section.about {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: url(assets/image/about_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.line-height {
    line-height: 2rem;
}

section.about .about-content {
    width: 50%;
    height: fit-content;
}

section.vision {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: url(assets/image/vision_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.vision-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

div.vision-content .vision-description,
div.mission-content .mission-description,
div.vision-content img,
div.mission-content img {
    max-width: 50%;
}

div.vision-content img {
    max-height: 300px;
    display: block;
    border-radius: 20px;
}

section.mission {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: url(assets/image/mission_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

div.mission-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    gap: 1.5rem;
}

div.mission-content img {
    max-height: 300px;
    display: block;
    border-radius: 20px;
}

/*dialog*/
dialog {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: auto;
    scrollbar-width: none;
}

div.dialog-box {
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img.dialog-image {
    width: 50%;
    max-height: 500px;
    margin: 2rem 0;
    border-radius: 20px;
    max-height: 500px;
}

dialog #closeDialog {
    width: 50%;
    padding: 10px;
    margin: 2rem 0;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

/*program location section*/
section.program-location {
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background-color: var(--color4-color);
}

section.program-location div.program-location-content {
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section.program-location img {
    max-width: 50%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

section.program-location .program-location-button-list {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section.program-location .program-location-button-list .location-button {
    max-width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

section.program-location .program-location-button-list .location-button button {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 18px;
    font-weight: bold;
    color: var(--black-color);
}

section.program-location .program-location-button-list .location-button button:hover {
    background-color: var(--location-font-color);
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

section.program-location .program-location-button-list .location-button button:active {
    background-color: var(--location-font-color);
    color: var(--white-color);
}

section.program-location .program-location-button-list .location-list {
    width: 100%;
    height: auto;
}

section.program-location .program-location-button-list .location-list table {
    width: 100%;
    height: 100%;
    border: none;
    border-collapse: collapse;
    font-size: 20px;
    border: 1;
}

section.program-location .program-location-button-list .location-list table th {
    text-align: left;
    height: 50px;
    color: var(--white-color);
}

section.program-location .program-location-button-list .location-list table td {
    background-color: var(--white-color);
    font-weight: bold;
}

section.program-location .program-location-button-list .location-list table th,
section.program-location .program-location-button-list .location-list table td {
    border: none;
    padding: 10px;
}

/* blog-content */
section.blog {
    width: 100%;
    min-height: 100vh;
}

div.blog-content {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

div.blog-content div.news-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div.blog-content div.news-list div.news {
    width: 500px;
    height: 200px;
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: var(--white-color);
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin: 2rem 0;
}

div.blog-content div.news-list div.news1 {
    background-image: url(assets/image/produk_news.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

div.blog-content div.news-list div.news2 {
    background-image: url(assets/image/anak_sekolah_news.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

div.blog-content div.news-list div.news3 {
    background-image: url(assets/image/etika_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

div.blog-content div.news-list div.news4 {
    background-image: url(assets/image/tukik.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

/*donate page*/
section.donate-page {
    width: 100%;
    height: 100%;
}

section.donate-page-landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
}

section.donate-page-content {
    width: 50%;
    max-height: 100%;
    text-align: justify;
}

section.donate-page-landing img,
section.donate-page-form img {
    max-width: 50%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

section.donate-page-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
}

.form {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}

section.donate-page-form form.donate-form input,
section.donate-page-form form.donate-form textarea {
    width: 100%;
    height: 50px;
    field-sizing: content;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--black-color);
    font-size: 20px;
    font-family: var(--font-font);
    background-color: var(--color3-color);
    border: none;
}

section.donate-page-form form.donate-form::placeholder {
    color: #7b7979;
}

section.donate-page-form form.donate-form textarea {
    height: 100px;
}

section.donate-page-form form.donate-form button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    background-color: var(--color1-color);
    color: var(--white-color);
    border: none;
}

/* volunteer page*/
section.volunteerPage {
    width: 100%;
    height: 100%;
}

section.volunteer-page-landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
    background-image: url(assets/image/volunteer_landing.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white-color);
}

section.volunteer-page-landing h1 {
    font-size: 80px;
    font-family: var(--font-font);
    color: var(--white-color);
    text-align: center;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 1);
}

section.volunteer-page-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

div.volunteer-page-info-content {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem
}

div.info-content {
    width: 250px;
    max-height: fit-content;
    text-align: justify;
}

div.info-content img {
    max-width: 50%;
    max-height: 500px;
    display: block;
    margin: 2rem auto;
}

div.info-content p.info-content-title {
    text-align: center;
    font-weight: bold;
}

section.volunteer-page-form {
    width: 100%;
    height: 100vh;
    background-image: url(assets/image/volunteer_register.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
}

section.volunteer-page-form form.volunteer-form {
    width: 40%;
    height: 100%;
}

section.volunteer-page-form form.volunteer-form input {
    width: 100%;
    height: 50px;
    field-sizing: content;
    padding: 1rem;
    border-radius: 10px;
    font-size: 20px;
    font-family: var(--font-font);
    background-color: whitesmoke;
    border: none;
}

section.volunteer-page-form form.volunteer-form::placeholder {
    color: #7b7979;
}

section.volunteer-page-form form.volunteer-form button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    background-color: var(--color1-color);
    color: var(--white-color);
    border: none;
}

/*footer*/
footer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1-color);
    padding: 2rem;
    gap: 2rem;
}

div.footer-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.footer-content img.ypi-logo {
    max-width: 50%;
    max-height: 150px;
}


div.footer-contact {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: first baseline;
    flex-wrap: wrap;
    gap: 2rem;
}

.padding-footer {
    padding: .5rem 0;
}

div.footer-contact p {
    color: var(--white-color);
    font-size: 15px;
    font-weight: bold;
}

div.footer-contact .media-social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

div.footer-contact .media-social img {
    width: 30px;
    height: 30px;
}

div.footer-contact .donate-button button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background-color: var(--color5-color);
}


/*table*/
@media (max-width: 1024px) {

    .title {
        font-size: 2.5rem;
    }

    .bold {
        font-size: 30px;
    }

    nav ul.nav-links {
        display: none;
    }

    nav ul.nav-links-mobile {
        display: unset;
    }

    /*campaign*/
    section.penyu-facts {
        height: auto;
    }

    section.penyu-facts div.penyu-facts-title,
    section.penyu-facts div.penyu-facts-point {
        width: 100%;
        height: 100%;
    }

    section.penyu-facts div.penyu-facts-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--white-color);
        gap: 2rem;
    }

    section.penyu-facts div.penyu-facts-title p {
        text-align: justify;
    }

    /*headstarting facts*/
    section.headstarting-facts {
        height: auto;
    }

    section.headstarting-facts .grid-wrapper {
        grid-template-columns: 1fr;
    }

    /*anti-headstarting-page*/
    section.anti-headstarting-page {
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    section.anti-headstarting-page div.anti-headstarting-content {
        width: 80%;
        height: 100%;
    }




    /*about*/
    section.about {
        max-width: 100%;
        height: auto;
    }

    /*vision*/
    section.vision {
        height: auto;
    }

    section.vision div.vision-content {
        flex-direction: column-reverse;
    }

    /*mission*/
    section.mission {
        height: auto;
    }

    section.mission div.mission-content {
        flex-direction: column-reverse;
        text-align: justify;
    }

    /*program location*/
    section.program-location {
        height: auto;
    }

    section.program-location .program-location-button-list .location-button {
        justify-content: center;
    }

    section.about p,
    section.about p.about-content {
        width: 100%;
    }

    /*blog*/
    section.blog {
        height: auto;
    }


    div.vision-content .vision-description,
    div.mission-content .mission-description,
    div.vision-content img,
    div.mission-content img {
        max-width: 100%;
    }

    /*donation page*/
    section.donate-page-landing {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
    }

    section.donate-page-form {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    section.donate-page-landing img,
    section.donate-page-form img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

    /*volunteer page*/

    section.volunteer-page-info {
        height: auto;
    }

    section.volunteer-page-form form.volunteer-form {
        width: 100%;
        height: auto;
    }

    section.volunteer-page-form {
        width: 100%;
        height: 100%;
        background: none;
        justify-content: center;
        padding: 2rem;
    }
}


/*mobile*/
@media (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    .font-size {
        font-size: 1rem;
    }

    section.about-landing-page h1,
    div.volunteer-page-content h1 {
        font-size: 2rem;
    }

    div.footer-contact {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: first baseline;
        flex-wrap: wrap;
        gap: 2rem;
    }


    div.footer-contact .media-social ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 768px),
(orientation: landscape) and (max-height: 500px) {

    section.donate-page-landing,
    section.donate-page-form {
        flex-direction: column-reverse;
        height: auto;
        padding: 1rem;
    }

    section.donate-page-content,
    .form {
        width: 100%;
    }

    section.donate-page-form form.donate-form input,
    section.donate-page-form form.donate-form textarea,
    section.donate-page-form form.donate-form button {
        font-size: 16px;
        padding: 0.8rem;
        height: auto;
    }

    section.donate-page-form form.donate-form textarea {
        height: 80px;
    }

    section.donate-page-form .form {
        gap: 0.8rem;
    }
}


/*animation*/
.scroll-fade {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInScroll 1.6s ease forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

@keyframes fadeInScroll {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}