:root {
    --color1-color: #026d77;
    --color2-color: #28b6ae;
    --color3-color: #74cfc2;
    --color4-color: #a4dfdb;
    --color5-color: #fbf5c9;
    --fontColor-color: #033b44;
    --white-color: #f8fafc;
    --black-color: black;
    --font-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*header*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(assets/image/ypi.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

header .content {
    width: 100%;
    height: 60%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1)90%);
    margin-top: auto;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

header .content h1 {
    font-size: 80px;
    font-family: var(--font-font);
    color: var(--white-color);
    text-align: center;
}

header .bottom-box {
    width: 100%;
    padding: 20px;
    color: var(--fontColor-color);
    font-family: var(--font-font);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}

header .line {
    width: 100px;
    height: 4px;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
    background-color: var(--fontColor-color);
    border-radius: 20px;
}

/*navigation*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1-color);
    position: fixed;
    z-index: 1;
}

nav .nav_logo {
    width: 100px;
    height: 50px;
    margin: 10px 0px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    margin: 20px;
    font-size: 20px;
    font-family: var(--font-font);
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
}

nav .nav_donate_button {
    width: 100px;
    height: 40px;
    margin: 8px;
    border: none;
    border-radius: 20px;
    font-family: var(--font-font);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--color5-color);
}

nav .nav_donate_button a {
    color: var(--font-font);
    text-decoration: none;
}

/*main*/
main {
    height: 100vh;
    font-family: var(--font-font);
    margin: 0 24px;
}

main .about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-font);
    color: var(--fontColor-color);
}

main .about h1 {
    font-size: 30px;
    font-weight: bold;
}

main .about .about-content {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .about .about-content-img {
    width: 50%;
    height: 100%;
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .about .about-content-img img {
    width: 85%;
    height: 40%;
    display: block;
    margin: auto 0;
    margin: 0 auto;
}